/* FORMATO BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('images/relax.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00abd5;
    opacity: 0.4;
    z-index: -1;
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: -1;
}

/* -------- HEADER Y BOTONES -------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    color: black;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 65px;
    margin-right: 5px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    padding: 10px 5px;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    font-size: 16px;
}

nav ul li a:hover {
    color: #4CAF50;
    text-decoration: underline;
}

nav ul li a.active {
    font-weight: bold;
    color: #4CAF50;
}

/* ------- INFO -------- */

/* Estilos generales */
.info-section {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    animation: fadeIn 1s ease-in-out;
}

.info-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 1200px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    margin-top: 100px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.info-image {
    flex-shrink: 0;
    max-width: 450px;
    width: 100%;
    max-height: 600px; 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-right: 20px;
    animation: fadeIn 1.5s ease-in-out; 
    animation: slideUp 1.7s ease-in-out;

}

.info-image img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    border-radius: 20px;
}

.info-text {
    padding: 20px;
    color: rgb(0, 0, 0);
    flex: 1;
    animation: fadeIn 1.5s ease-in-out; 
    animation: slideUp 1.7s ease-in-out;
}

.info-text h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #0696b9;
}

.info-text p {
    font-size: 16px;
    line-height: 1.7;
    text-align: justify;
    margin-bottom: 15px;
}

.info-text ul {
    margin-top: 20px;
    padding-left: 20px;
}

.info-text li {
    margin-bottom: 15px;
}

.info-block:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@keyframes show{
    from{
        opacity: 0.5;
        scale: 0.7;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

.info-block, .music-container {
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
    animation-delay: 0s;
}

/* ------- Reproductor -------- */

.music-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: #f3f3f3;
    border-radius: 10px;
    padding-right: 20px;
}

.music-image img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.music-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.controls img {
    width: 40px; 
    height: 40px;
    cursor: pointer; 
    transition: transform 0.2s;
}

.controls img:hover {
    transform: scale(1.1);
}

.music-list {
    padding: 20px;
    align-items: center;
    max-height: 200px;
    overflow-y: auto;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.music-list h4{
    padding: 10px;
    text-align: center;
    color: #0696b9;
}

.music-list ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.music-list li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #00abd5;
    transition: background-color 0.3s ease;
}

#song-list li:last-child {
    border-bottom: none;
}

.music-list li:hover {
    background-color: #e0e0e0;
}

.highlighted {
    background-color: #f0f0f0;
    font-weight: bold;
}

.music-block,
.description-block {
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
}

.description-block{
    flex: 3;
    padding: 20px;
    height: 460px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.description-block:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.music-block {
    flex: 1.5;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.music-block:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.description-block h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #0696b9;
}

.description-block p {
    font-size: 16px;
    line-height: 1.7;
    text-align: justify;
    margin-bottom: 10px;
    margin: 20px;
}

.music-container {
    display: flex;
    gap: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
    align-items: center;
}

/* Estilo del control de volumen */
.volume-control {
    display: flex;
    align-items: center;
    margin: 10px;
}

.volume-control label {
    margin-right: 10px;
    color: black;
    font-size: 16px;
}

#volume-slider {
    width: 100px;
    -webkit-appearance: none;
    background: #aca5a5;
    border-radius: 5px;
    height: 5px;
}

#volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #00abd5;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


/* ------- FOOTER -------- */
footer {
    background-color: white; 
    padding: 20px;
    border-top: 1px solid #ccc; 
    bottom: 0;
  }
  
  .footer-content {
    max-width: fit-content;
    margin: 0 auto;
    text-align: right;
  }
  
  .footer-content p {
    margin: 10px 0;
    font-size: 12px;
    color: gray;
    text-align: center;
  }
  
  .footer-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
    display: flex; 
    justify-content: flex-end; 
  }
  
  .footer-content li {
    margin: 0 15px; 
  }
  
  .footer-content a {
    text-decoration: none;
    color: gray; 
    font-size: 12px; 
  }
  
  .footer-content a:hover {
    color: rgb(0, 166, 255);
  }
  
  .footer-content ::selection {
    background-color: lightblue; 
    color: rgb(0, 170, 255); 
  }